@font-face {
    font-family: integralcf;
    src: url("/assets/fonts/Fontspring-DEMO-integralcf-regular.otf");
  }
@font-face {
    font-family: satoshi;
    src: url("/assets/fonts/Satoshi-Regular.otf");
  }


.ant-card-body{
  padding: 0 0 0 1 !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;